	.module {
		background-image: url("../img/okinawabeach.jpg");
		background-size: cover;
		width: auto;
		height: 600px;
		margin: 10px 10px 10px 10px;
		position: relative;
		float: center;
	}
	
	.top h1 {
		font-family: Georgia, serif;
		color: #01FF70;
		margin: 0;
		padding: 20px;
		text-align: center;
	}
	
	.btn-group-vertical {
		font-family: Gerogia, serif;
		position: absolute;
		top: 50%;
		left: 45%;
		color: #000000;
	}
	}
